/* 
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} 
*/

html,
body,
#root {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    background-color: #BFC0C0
}

h1 {
    text-align: center;
    letter-spacing: .3em;
    font-weight: 800;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App {
    position: relative;
    display: flex;
    flex-flow: column;
    background: #005662
}

a {
    margin-right: 10px;
    text-decoration: none;
    z-index: 1;
    color: white;
    letter-spacing: .2em
}

.animated-page-wrapper {
    position: absolute;
    top: 62px;
    left: 0;
    width: 100%;
    height: 100%;
}

.page {
    padding: 0 24px;
    width: 100vw;
}

.pageText {
    max-width: 100%;
    border: 25px;
    color: black;
    background: white;
    padding: 3rem;
}

canvas {
    margin: 0 auto;
    display: block;
    left: 20%;
    clear: left;
    float: right;
}

.background {
    max-width: 400%;
    opacity: 0.2;
    z-index: -1;
    position: absolute;
    display: block;
    height: auto;
    width: auto;
}

@media (min-width:1500px) {
    .background {
        left: 200px;
        max-width: 400%;
        opacity: 0.2;
        z-index: -1;
        position: absolute;
        display: block;
        height: auto;
        width: auto;
    }
}

.logo {
    max-width: 40%;
    height: auto;
    align-content: center;
    position: absolute;
    z-index: -1;
    left: 28%
}

.navbar {
    z-index: 9999;
    position: fixed;
}

.clockText {
    text-align: right;
    padding-right: 50px;
    font-size: 2em
}

.candidateText {
    padding-top: 10px;
}

.pageText h2 {
    text-align: center;
    font-weight: 800;
    padding: 5px;
}

.topIcon {
    max-height: 25%;
    max-width: 25%
}

.dropdown-toggle nav-link {
    margin: 20
}

.title {
    margin-right: 0.15em;
    font-weight: bold;
    font-size: 13em;
    color: White;
    text-shadow: 0 0 0.1em black;
    letter-spacing: 0em;
    text-align: center;
    max-height: 300px;
}

.title span {
    display: inline-block;
    max-height: 2.5em
}

@media only screen and (min-width:300px) and (max-width:661px) {
    .title {
        font-size: 5em;
        color: White;
        text-shadow: 0 0 0.1em black;
        font-weight: bold;
    }
    h1 {
        font-size: .5em;
    }
    .topIcon {
        max-height: 30%;
        max-width: 30%
    }
    .clockText {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 1500px) {
    .middleNav {
        top: 50px;
    }
}

.subLogo {
    width: 25px;
    height: 25px;
}

.componentHeader {
    font-size: 40px;
    letter-spacing: 10px;
    margin: auto;
    font-weight: bold;
    text-align: center;
}

.middleNav {
    position: relative;
    top: 25px;
    margin: 40px;
    background-color: white;
    margin: auto;
    text-align: center;
    display: block
}

.subtitle {
    color: white
}

.navElement {
    display: block;
    position: relative;
    padding: 20;
    clear: right;
}

.navIcon {
    height: 65%;
    width: 65%;
    max-height: 200px;
    max-width: 200px;
    position: relative;
    right: 50;
}

.card {
    margin: 15px;
    transition: margin 0.5s ease-out;
}

.card:hover {
    margin-top: 2px
}

.signature {
    bottom: 0;
    margin: auto;
    float: left;
    font-size: .25em;
    background: #BFC0C0;
    display: block;
    width: 100%;
    ;
    line-height: .001em
}

.division {
    max-height: 40px;
    max-width: 100px;
    padding: 5px
}

.container {
    padding: 40px;
    position: relative;
}

.profilePicture img {
    float: right;
    clear: left;
    border-radius: 50%
}

.salesIcon {
    margin: auto;
    display: block;
    max-width: 20%;
    max-height: 20%;
    position: relative;
}

.salesList {
    padding: 2em
}