/* 
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} 
*/

html,
body,
#root {
    height: 100%;
    width: 100%;
    font-family: Roboto, sans-serif;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

h1 {
    text-align: center;
    letter-spacing: .3em
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App {
    position: relative;
    display: flex;
    flex-flow: column;
}

a {
    margin-right: 10px;
    text-decoration: none;
    z-index: 1;
    color: white;
    letter-spacing: .2em
}

.animated-page-wrapper {
    position: absolute;
    top: 62px;
    left: 0;
    width: 100%;
    height: 100%;
}

.page {
    padding: 0 24px;
}

.pageText {
    max-width: 100%;
    padding: 10px;
    border: 25px solid grey;
    background: grey;
    color: white;
}

canvas {
    margin: 0 auto;
    display: block;
    left: 20%;
    clear: left;
    float: right;
}

.background {
    max-width: 400%;
    opacity: 0.2;
    z-index: -1;
    position: absolute;
    display: block;
    height: auto;
    width: auto;
}

@media (min-width:1500px) {
    .background {
        left: 200px;
        max-width: 400%;
        opacity: 0.2;
        z-index: -1;
        position: absolute;
        display: block;
        height: auto;
        width: auto;
    }
}

.logo {
    max-width: 40%;
    height: auto;
    align-content: center;
    position: absolute;
    z-index: -1;
    left: 28%
}

.navbar {
    z-index: 9999;
    position: fixed;
}

.clockText {
    text-align: right;
    padding-right: 50px;
    font-size: 200%
}

.candidateText {
    padding-top: 10px;
}

h2 {
    text-align: center;
}

@media (max-width: 375px) {
    .topIcon {
        max-height: 30%;
        max-width: 30%
    }
}

.topIcon {
    max-height: 10%;
    max-width: 10%
}

.swapIcons {
    height: 120;
    width: 120;
}

.dropdown-toggle nav-link {
    margin: 20
}

.title {
    margin-right: 0.15em;
    font-weight: bold;
    font-size: 15em;
    color: White;
    text-shadow: 0 0 0.1em black;
    letter-spacing: 0em;
    text-align: center;
    max-height: 300px
}

.title span {
    display: inline-block;
    max-height: 300px
}

.title span:nth-child(1) {
    animation: fall 1s forwards ease-out alternate;
}

.title span:nth-child(2) {
    animation: fall2 1.5s forwards ease-out alternate;
}

.title span:nth-child(3) {
    animation: fall3 2s forwards ease-out alternate;
}

.subTitle {
    font-size: 2em;
    text-shadow: 0 .1em 0.1em;
    bottom: 200px;
    text-align: center;
    letter-spacing: .3em;
    padding-bottom: 1em;
}

.subTitle:nth-child(2) {
    animation: fall2 3.7s forwards ease-in-out alternate;
}

.subTitle:nth-child(3) {
    font-size: 4.5em;
    animation: fall3 3.9s forwards ease-in-out alternate;
}

.subTitle:nth-child(4) {
    font-size: 2.8em;
    animation: fall 4.2s forwards ease-in-out alternate;
}

@keyframes space {
    to {
        letter-spacing: -0.17em;
    }
}

@keyframes fall {
    0% {
        transform: translateY(-50em);
    }
}

@keyframes fall2 {
    0% {
        transform: translateX(-50em);
    }
}

@keyframes fall3 {
    0% {
        transform: translateX(50em);
    }
}

.mainWrapprt {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 45em;
    height: 35em;
    margin: auto;
    text-align: center;
    color: #fff;
    font-family: "arial";
    letter-spacing: 0.4em;
    overflow: hidden;
}

.subLogo {
    width: 25px;
    height: 25px;
}