/* 
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} 
*/

html,
body,
#root {
    height: 100%;
    width: 100%;
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App {
    position: relative;
    display: flex;
    flex-flow: column;
}

.TopBar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    height: 62px;
    padding: 0 24px;
    background-color: grey;
    z-index: 1
}

.TopBar a {
    margin-right: 18px;
    text-decoration: none;
    color: white;
    overflow: scroll;
}

.animated-page-wrapper {
    position: absolute;
    top: 62px;
    left: 0;
    width: 100%;
    height: 100%;
}

.page {
    padding: 0 24px;
}

.pageText {
    padding: 10px;
    border: 25px solid grey;
    background: grey;
    color: white;
}

canvas {
    position: "relative";
    margin: auto;
    left: 33%;
}

.background {
    max-width: 100%;
    opacity: 0.2;
    z-index: -1;
    position: absolute;
}

.logo {
    max-width: 40%;
    height: auto;
    align-content: center;
    position: relative;
    z-index: 1;
    left: 25%
}